
.content {    
    position: relative;
}


.tile-dragged {
    position: fixed;
}

.tile-over {
    background: red;
}

.placeholder {
    background: white;
    border-color:black;
    border-style: dashed;
}

.display-none {
    display: none !important;
}
