html, body { padding: 0; margin: 0; width: 100%; }
    

.desk {
    margin: auto;
    width: 80%;
    height: 80%;
    background: rgb(225, 240, 26);
}

.panel {
    height: 20px;
    background: rgb(138, 160, 17);
}


.panel > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menudesk {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    text-align: center;
}

.panel:hover .menudesk {
    display: block;
}

.menudesk * {
    color: #F3EFEF;
}


.menudesk li:hover {
    background-color: tomato;
}

.menudesk li {
    position: relative;
    width: 140px;
    list-style: none;
    padding: 10px 30px;
    background:rgb(104, 3, 3);
    border: 1px solid #999;
    border-bottom: none;
}

.menudesk > li:last-child {
    border-bottom: 1px solid #999;
}


.menudesk a {
    text-decoration: none;
    transition: .5s linear;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}

.submenu {
    position: absolute;
    left: 61px;
    top: 42px;
    z-index: 2;
    width: 140px;
    visibility: hidden;
    opacity: 0;
    transform: translate(-100px, -10px);
    transition: .5s ease-in-out;
}

.menudesk li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(100px, -43px);
}


.content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.tile {
    width: 20%;
    min-width: 200px;
    background-color: coral;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid ridge;
    margin: 5px;
    display: inline-block;
}

.tile-dragged {
}